.info-card-container {
    position: fixed;
    right: 3vw;
    bottom: 10vh;
    width: 15vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 40px;
    transition: all 0.3s;
}

.lista {
    margin-top: 30px;
}